.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 441px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  min-height: 255px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-image-1 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-5 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-image-6 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-list-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px) calc(16.6667% - 8.33333px);
  min-height: 186px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 208px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(16.666666666666668% - 8.333329999999998px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333329999999998px));
    min-height: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px) calc(33.3333% - 6.66666px);
    min-height: 664px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 6.666664px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666664px));
    min-height: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1134px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 4.999998px);
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
    min-height: 834px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}