.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 12px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 11px;
}

.u-block-c69e-11 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  margin: 0 730px 0 0;
}

.u-section-1 .u-table-cell-2 {
  margin-top: 0;
  margin-left: 205px;
  margin-right: 851px;
}

.u-section-1 .u-table-cell-3 {
  margin-left: 289px;
  margin-right: 772px;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 368px;
  margin-right: 694px;
}

.u-section-1 .u-table-cell-5 {
  margin-left: 446px;
  margin-right: 612px;
}

.u-section-1 .u-table-cell-6 {
  margin-left: 528px;
  margin-right: 534px;
}

.u-section-1 .u-table-cell-7 {
  margin-left: 606px;
  margin-right: 451px;
}

.u-section-1 .u-table-cell-8 {
  margin-left: 689px;
  margin-right: 367px;
}

.u-section-1 .u-table-cell-9 {
  margin-left: 773px;
  margin-right: 288px;
}

.u-section-1 .u-table-cell-10 {
  margin: 0 205px 0 852px;
}

.u-block-c69e-174 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 601px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 871px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 460px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 667px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 345px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 298px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 327px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-gallery-1 {
  height: 630px;
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-gallery-1 {
    height: 508px;
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-gallery-1 {
    height: 408px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-gallery-1 {
    height: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-gallery-1 {
    height: 189px;
  }
}