 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 479px;
}

.u-section-1 .u-image-1 {
  width: 356px;
  height: 479px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -413px auto 0 141px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 83px auto 0 59px;
}

.u-section-1 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: 48px auto 0 29px;
}

.u-section-1 .u-image-3 {
  width: 128px;
  height: 128px;
  margin: -128px 401px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 128px;
  height: 128px;
  margin: -128px auto 0 417px;
}

.u-section-1 .u-image-5 {
  width: 128px;
  height: 128px;
  margin: -128px auto 25px 223px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-image-1 {
    width: 263px;
    height: 343px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -323px;
    margin-right: 296px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: 263px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 13px;
    margin-left: 21px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 310px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 342px;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 21px;
    margin-left: 182px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 251px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -244px;
    margin-right: 205px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 153px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 25px;
    margin-left: 35px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 69px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 232px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 1px;
    margin-left: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -246px;
    margin-right: 188px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 142px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 135px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 138px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -292px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 267px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin: -264px 0 103px auto;
  }
}